name: CI-CD Pipeline

on:
  push:
    branches:
      - main1

jobs:
  # =============================
  # JOB 1: Build & Push Images
  # =============================
  build:
    name: Build & Push to DockerHub
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Login to DockerHub
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Build API image
    - name: Build API Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/loksai-mlops830api:latest -f docker/Dockerfile.api .

    # Build UI image
    - name: Build UI Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/loksai-mlops830ui:latest -f docker/Dockerfile.ui .

    # Push API image
    - name: Push API image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/loksai-mlops830api:latest

    # Push UI image
    - name: Push UI image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/loksai-mlops830ui:latest

  # =============================
  # JOB 2: Deploy to Kubernetes
  # =============================
  deploy:  
    name: Deploy to Kubernetes
    runs-on: self-hosted
    needs: build

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup kubectl
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBECONFIG_DATA }}" > ~/.kube/config


    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f k8s/api-deployment.yaml
        kubectl apply -f k8s/ui-deployment.yaml
